.scroll__icons {
    width: 25px;
    height: 30px;
}

.hero__bottom-btn {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.hero {
    height: 100vh;
    position: relative;
    min-height: 650px;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}